#logo {
    margin: 30px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    margin: 0;
    height: 175px;
    text-align: center;
    line-height: 165px;
    color: rgb(184, 184, 184);
    font-size: 75px;
    margin-top: 20px;
    margin-bottom: 75px;
    border-radius: 20px;
    background-color: rgb(58, 58, 58);
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
    justify-content:center;
    width: 100%;
}

.images img {
    height: 300px;
    border-radius: 15px;
}

#new {
    margin-bottom: 15px;
}

.seperate {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    color: rgb(58, 58, 58);
    font-size: 28px;
    margin-left: 10%;
    margin-right: 10%;
}

#special {
    width: 75%;
    align-self: center;
    border-radius: 20px;
}

body {
    background-color: rgb(184, 184, 184);
}